<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="fragments::header">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragments::sidebar">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments::topbar">

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <form class="form-horizontal" th:action="@{/update-post/{id} (id = ${postDto.id})}" method="post" enctype="multipart/form-data" th:object="${postDto}">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>EDIT POSTS</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="post_name">POST NAME</label>
                                <div class="col-md-4">
                                    <input id="post_name" th:field="*{name}" name="post_name" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="categories">CATEGORY</label>
                                <div class="col-md-4">
                                    <select id="categories" th:field="*{category}" name="categories" class="form-control">
                                        <option th:value="null">SELECT</option>
                                        <option th:each="category : ${categories}"
                                                th:value="${category .id}"
                                                th:text="${category.name}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- Text area-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="description">POST CONTENT </label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="description" th:field="*{content}" name="description" rows="6" cols="50"></textarea>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="time">TIME</label>
                                <div class="col-md-4">
                                    <input id="time" name="time" th:field="*{time}" class="form-control input-md" required="" type="text">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-md-4">
                                    <!-- File Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="imagePost">IMAGE POST</label>
                                        <img style="height: 40px; width: 40px;" th:src="*{'data:image/jpeg;base64,' + {image}}" >
                                        <div class="col-md-4">
                                            <input id="imagePost" name="imagePost" class="input-file" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragments::footer">

            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="fragments::scroll">
    </a>

    <!-- Logout Modal-->

    <!--Add Modal-->

    <!--End add modal-->

<!--    Change Name Category Modal-->

<!--    End of changing Category Name-->
    <!-- Bootstrap core JavaScript-->
    <div th:replace="fragments::script"></div>
    <script th:src="@{js/categories.js}"></script>

</body>

</html>